# Nested Loop

In [1]:
rows = 4
#Outer loop
for i in range(rows):
    #inner loop
    for j in range(i+1):
        print('*', end = ' ')
    print('')

*
* *
* * *
* * * *

In [3]:
num = [1, 2, 3]
# outter loop
for i in num:
   #Inner loop
    for j in num:
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [7]:
num = [1, 2, 3, 4, 5]
# outter loop
for i in num:
   #Inner loop
   j = 0
   while j < i:
        print(num[j], end = ' ')
        j += 1
   print('\n')
#

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [8]:
num = [1, 2, 3, 4, 5]
# outter loop
for i in num:
   #Inner loop
   j = 0
   while j < len(num):
        print(num[j], end = ' ')
        j += 1
   print('\n')
#

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5